<form class="send-comment" method="post" action="/comment">

Reply to <%= params %>'s Peep

  <label for="message-text" class="control-label">Write a comment.</label>
  <textarea name="comment" class="form-control" id="message-text"></textarea>
  <textarea class="peepid" name="peepid"></textarea>
  <div class="footer">
    <input type="submit" class="send btn btn-primary" value="Send">
  </div>
</form>