<!DOCTYPE>
<html>

<head>
  <title>Chitter on Node.js</title>
</head>

<body>
  <h1>Chitter on Node.js</h1>

  <a href="/sessions/new" class="sign-up">Sign Up</a>

  <% if (username !== undefined) { %>
    <p>Hello <%= username %></p>
  <% } %>

  <ul>
    <li>Maya is totes awesome FTW!!!11</li>
  </ul>
</body>

</html