<% layout('layout') -%>

  <h1>Chitter on Node.js</h1>

<% if(user === undefined) { %>
  <a href="/users/new" class="sign-up">Sign Up</a>
  <a href="/sessions/new" class="sign-in">Sign In</a>
<% } else { %>
  <form method="post" action="/sessions/delete">
    <button class="sign-out">Sign out</button>
  </form>
  <p>Hello <%= user.username %></p>

  <form method="post" action="/post-peep">
    <input type="text" name="content" placeholder="Type your peep">
    <button class="post-peep">Post peep</button>
  </form>

<% } %>

  <ul>
    <% if(peeps) { %>
      <% for(i = 0; i < peeps.length; i ++) { %>
      <li><%= peeps[i].content %> <%= peeps[i].username %></li>
      <% } %>
    <% } %>
  </ul>