<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <title>Chitter: a Node.js app</title>
  <script src="../javascript/jquery-2.1.1.min.js"></script>
  <script src="../javascript/bootstrap.min.js"></script>
</head>

<body>
  <h1><a href="/">Chitter: a Node.js app</a></h1>
  <%- body %>
  <footer class="navbar-default navbar-fixed-bottom">
    <div class="container">
    <p>&copy; Maya Driver 2015</p>
    </div>
  </footer>


</body>

</html>