<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <title>Chitter: a Node.js app</title>
</head>

<body>
  <a href="/"><h1>Chitter: a Node.js app</h1></a>
  <%- body %>
  <footer class="navbar-default navbar-fixed-bottom">
    <div class="container">
    footer stuff
    </div>
  </footer>

<script src="../javascript/jquery-2.1.1.min.js"></script>
</body>

</html>