<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Chitter on Node.js</title>
</head>

<body>
  <%- body %>

  <footer>
  footer stuff
  </footer>

</body>

</html>