<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <title>Chitter: a Node.js app</title>
</head>

<body>
  <h1>Chitter: a Node.js app</h1>
  <%- body %>
  <footer>
    footer stuff
  </footer>

<script src="../javascript/jquery-2.1.1.min.js"></script>
</body>

</html>