<% layout('../layout') -%>

<form class="login-form" method="POST" action="/sessions">
  <h2>Sign in to Chitter</h2>
  <input type="text" name='username' placeholder="Username">
  <input type="password" name='password' placeholder="Password">
  <input type="submit" class="submit btn btn-default" value="Sign in">
</form>