<form class="login-form" method="POST" action="/sessions">
  <input type="text" name='username' placeholder="Username">
  <input type="password" name='password' placeholder="Password">
  <input type="submit" value="Sign in">
</form>